body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background: linear-gradient(to right, black, purple), 
                url('ps52754-8mistoverthetreetops50x70.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
